.complex-solutions {
    padding-top: 200px;
    padding-bottom: 49vw;
    position: relative;
    &__title {
        text-align: center;
        margin-bottom: 105px;
    }
    &__cards {
        justify-content: space-between;
    }
    &__card {
        max-width: 470px;
        text-align: center;
    }
    &__info {
        background: $card-hover-color;
        padding-bottom: 50px;
    }
    &__name {
        text-transform: uppercase;
        padding: 35px 0;
        border: 3px solid $main-text-color;
    }
    &__subtitle {
        padding: 0 25px;
        font-family: $myriad-bold;
        font-size: rem(36);
        margin: 50px 0;
    }
    &__text {
        padding: 0 25px;
        font-size: rem(36);
        margin-bottom: 50px;
        text-align: left;
        &_line {
            letter-spacing: 0.01em;
        }
    }
    &__price {
        padding: 0 25px;
        font-family: $myriad-bold;
        font-size: rem(36);
    }
    &__btn {
        margin: 40px auto 0;
    }
    &::after {
        content: '';
        width: 100vw;
        height: 47vw;
        background: url('../img/bmw.png') no-repeat center center;
        background-size: contain;
        display: block;
        position: absolute;
        left: -30vw;
        bottom: 0;
    }
}