.html-slider__container {
    position: relative;
    overflow: hidden;
    margin: 0 10%;
    height: 470px;
    box-sizing: border-box;
}

.html-slider {
    position: absolute;
    transition: .7s ease;
    left: 0;
    height: 470px;

    &__general-button {
        @include size(94px);
        border-radius: 50%;
        background: transparent;
        border: none;
        cursor: pointer;
        background: url(../img/button-arrow-left.png) center center no-repeat;
        background-size: cover;
        &_right {
            transform: rotate(180deg);
        }
    }

    &__card {
        color: $main-text-color;
        position: absolute;
        padding-top: 30px;
        padding-right: 60px;
        padding-left: 60px;
        padding-bottom: 40px;
        height: 470px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: $myriad-bold;
        font-size: rem(36);
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;

        &_card-button-wrapper {
            margin-top: 20px;
        }

        &_left-button {
            position: absolute;
            left: 2.5%;
            top: 145px;
            z-index: 1;
        }

        &_right-button {
            position: absolute;
            right: 2.5%;
            top: 145px;
            z-index: 1;
        }
    }

    &__image {
        display: block;
        object-fit: cover;
        @include size(70%, 100%);
    }

    &__text {
        display: block;
        padding-top: 45px;
    }

    &__price {
        text-transform: none;
        font-family: $myriad-regular;
    }

    &__button {
        color: $main-text-color;
        background: none;
        border: none;
        opacity: 0;
        text-transform: uppercase;
        font-size: rem(36);
        font-family: $myriad-bold;
        cursor: pointer;
        opacity: 1;
    }
}

.html-slider__buttons-wrapper {
    position: relative;
}
