@media screen and (max-width: $mediaXXL) {
    .container {
        width: $containerXL;
    }
    html {
        font-size: 15px;
    }
    .modal-btn {
        font-size: rem(35);
    }
    h1 {
        font-size: rem(75);
    }
    h2 {
        font-size: rem(75);
    }
    h3 {
        font-size: rem(40);
    }
    h4 {
        font-size: rem(36);
    }
    .signaling,
    .complex-solutions,
    .how-to-find,
    .product-card__container,
    .our-works {
        padding-top: 150px;
    }
    .header {
        &__nav {
            font-size: rem(30);
        }
        &__time::before,
        &__tel::before {
            width: 22px;
            height: 22px;
        }
    }
    .form-header {
        &__wrapp {
            justify-content: center;
        }
    }
    .signaling {
        padding-top: 150px;
    }
    .complex-solutions {
        &__card {
            width: 32%;
        }
        &__subtitle {
            font-size: rem(30);
        }
        &__text {
            font-size: rem(30);
        }
        &__price {
            font-size: rem(30);
        }
    }
    .html-slider {
        &__general-button {
            width: 74px;
            height: 74px;
        }
        &__button {
            font-size: rem(30);
        }
    }
    .footer {
        font-size: rem(30);
        &__tel::before,
        &__time::before {
            width: 22px;
            height: 22px;
        }
    }

}

@media screen and (max-width: $mediaXL) {
    .container {
        width: $containerLG;
    }
    html {
        font-size: 14px;
    }
    .signaling,
    .complex-solutions,
    .how-to-find,
    .product-card__container,
    .our-works {
        padding-top: 120px;
    }
    .header {
        &__logo {
            width: 80%;
        }
        &__title {
            margin-top: 120px;
            margin-bottom: 60px;
        }
    }
    .form-header {
        margin-left: 30px;
    }
    .complex-solutions {
        &__info {
            min-height: 980px;
        }
        &__text {
            font-size: rem(28);
        }
    }
    .html-slider {
        &__general-button {
            width: 64px;
            height: 64px;
        }
    }
    .footer {
        font-size: rem(28);
    }
}

@media screen and (min-width: $mediaLG) {
    .html-slider {
        &__button {
            opacity: 0;
        }
        &__card {
            &:hover {
                background: $card-hover-color;
            }
    
            &:hover .html-slider__button {
                opacity: 1;
            }
        }
    }
    .certificates {
        &__slider-card:hover {
            background: none;
        }
        &__photo-wrapper {
            cursor: pointer;
        }
    }
    .our-works {
        &__slider-card:hover {
            background: none;
        }
        &__slider-item {
            cursor: pointer;
        }
    }
}

@media screen and (max-width: $mediaLG) {
    .container {
        width: $containerMD;
    }
    .signaling,
    .complex-solutions,
    .how-to-find,
    .product-card__container,
    .our-works {
        padding-top: 100px;
    }
    .header {
        &__title {
            margin-top: 100px;
        }
        &__nav {
            font-size: rem(25);
        }
        &__address {
            max-width: 220px;
        }
        &__tel::before,
        &__time::before {
            width: 19px;
            height: 19px;
        }
    }
    .complex-solutions {
        &__cards {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__card {
            width: 80%;
            margin-top: 50px;
        }
        &__subtitle {
            font-size: rem(30);
        }
        &__info {
            min-height: auto;
        }
        &__title {
            margin-bottom: 10px;
        }
    }
    .product-card {
        &__title {
            font-size: rem(40);
        }
    }
    .signaling {
        &__card {
            width: 48%;
        }
    }
    .html-slider {
        &__general-button {
            width: 60px;
            height: 60px;
        }
    }
    .footer {
        font-size: rem(24);
        &__address {
            max-width: 220px;
        }
        &__tel::before,
        &__time::before {
            width: 19px;
            height: 19px;
        }
    }
}

@media screen and (max-width: $mediaMD) {
    .container {
        width: $containerSM !important;
    }
    html {
        font-size: 12px;
    }
    .signaling,
    .complex-solutions,
    .how-to-find,
    .product-card__container,
    .our-works {
        padding-top: 80px;
    }
    .header {
        &__nav {
            justify-content: space-evenly;
        }
        &__address {
            display: none;
        }
        &__tel,
        &__time {
            margin-right: 0;
        }
        &__wrapp {
            flex-wrap: wrap;
        }
        &__title {
            margin-top: 80px;
        }
        &__subtitle {
            margin-top: 50px;
        }
        &__tel::before,
        &__time::before {
            width: 16px;
            height: 16px;
        }
    }
    .form-header {
        margin: 50px 0 0 0;
        &__input {
            max-width: 80%;
        }
    }
    .signaling {
        &__title {
            font-size: rem(58);
        }
    }
    .complex-solutions {
        &__title {
            font-size: rem(58);
        }
    }
    .product-card {
        &__title {
            font-size: rem(58);
        }
    }
    .complex-solutions {
        &__name {
            padding: 25px 0;
        }
        &__subtitle {
            margin: 35px 0;
        }
        &__text {
            margin-bottom: 25px;
        }
        &__btn {
            margin-top: 30px;
        }
    }
    .html-slider {
        &__general-button {
            width: 45px;
            height: 45px;
        }
        &__card {
            height: 400px;
            padding: 20px 30px 30px;
        }
        &__container {
            height: 400px;
        }
    }
    .product-card {
        &__button-wrapper {
            margin: 0 auto;
        }
        &__text {
            margin-bottom: 50px;
        }
    }
    .yandex__map {
        height: 50vw;
    }
    .footer {
        &__links,
        &__texts {
            justify-content: space-evenly;
        }
        &__address {
            display: none;
        }
        &__tel,
        &__time {
            margin-right: 0;
        }
        &__code {
            margin: 0;
        }
        &__tel::before,
        &__time::before {
            width: 16px;
            height: 16px;
        }
    }
}

@media screen and (max-width: $mediaSM) {
    .container {
        width: $containerESM !important;
        padding: 0 15px;
    }
    html {
        font-size: 11px;
    }
    h1 {
        font-size: rem(55);
    }
    h2 {
        font-size: rem(54);
    }
    h3 {
        font-size: rem(40);
    }
    h4 {
        font-size: rem(36);
    }
    .signaling,
    .complex-solutions,
    .how-to-find,
    .product-card__container,
    .our-works {
        padding-top: 60px;
    }
    .header {
        &__nav {
            flex-direction: column;
            text-align: center;
        }
        &__tel {
            margin-bottom: 20px;
        }
        &__logo {
            width: 100%;
        }
        &__timer-time {
            font-size: rem(20);
            width: 100px !important;
            margin: 0 !important;
        }
        &__timer-info {
            text-align: center;
        }
    }
    .form-header {
        padding: 30px;
        &__label .error {
            top: 50px;  
        }
    }
    .complex-solutions {
        padding-bottom: 55vw;
        &__card {
            width: 90%;
        }
    }
    .signaling {
        &__card {
            width: 100%;
        }
    }
    .html-slider {
        &__general-button {
            width: 30px;
            height: 30px;
        }
        &__card,
        &__container {
            height: 370px;
        }
    }
    .product-card {
        &__title {
            font-size: 2.2rem;
        }
        &__text {
            font-size: 2rem;
            margin-top: 30px;
            margin-bottom: 40px;
        }
    }
    .yandex__map {
        height: 80vw;
    }
    .footer {
        &__links,
        &__texts {
            justify-content: space-evenly;
            flex-direction: column;
            text-align: center;
            margin-bottom: 0;
        }
        &__address {
            display: none;
        }
        &__tel,
        &__time {
            margin-bottom: 20px;
        }
        &__code {
            margin-top: 20px;
        }
    }
    .big-form {
        &__label {
            width: 100%;
        }
    }
    .certificates__photo-container {

        padding: 0;
    
    }
    .certificates__slider-wraper-button {

        top: 170px;
    
    }
    .our-works__slider-wraper-button {

        top: 30%;
    
    }
}