// Font

$myriad-bold        : 'Myriad Pro Bold', sans-serif;
$myriad-regular     : 'Myriad Pro Regular', sans-serif;
$open-sans-r        : 'Open Sans Regular', sans-serif;
$roboto-r           : 'Roboto', sans-serif;

// Size

$mainFontSize    : 16px;

// MQ width

$mediaXXL        : 1500px;
$mediaXL         : 1200px;
$mediaLG         : 992px;
$mediaMD         : 768px;
$mediaSM         : 576px;

$containerXXL    : 1140px;
$containerXL     : 1140px;
$containerLG     : 960px;
$containerMD     : 720px;
$containerSM     : 540px;
$containerESM    : 100%;

// general colors

$BLACK: #000;
$WHITE: #fff;

// Main color

$main-text-color     : #fff;
$card-hover-color    : rgba(0, 0, 0, 0.65);
$button-color        : #00AACA;
$placeholder-color   : #525252;

// Neutral Color

// Border Color